<h1> update costummer3 </h1>

<form action="/update" method="POST">
    Id: <input type="text" name="id" value="<%= lops.id%>"><br>
    EnableFCM: <input type="text" name="EnableFCM" value="<%=lops.EnableFCM%>"><br>
    Avatar: <input type="text" name="Avatar" value="<%=lops.Avatar%>"><br>
    Banner: <input type="text" name="Banner" value="<%=lops.Banner%>"><br>
    IsGetNotification: <input type="text" name="IsGetNotification" value="<%=lops.IsGetNotification%>"><br>
    IsVerified: <input type="text" name="IsVerified" value="<%=lops.IsVerified%>"><br>
    IsGetOpen: <input type="text" name="IsGetOpen" value="<%=lops.IsGetOpen%>"><br>
    <button type="submit">update costummer3 </button>
</form>